{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Generated Strategies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>
  
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleml.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">

    <style>
        /* Add your CSS styles here to format the output nicely */
        .player {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
        }
        .player h2 {
            margin-bottom: 10px;
        }
        .player ul {
            list-style-type: none;
            padding: 0;
        }
        .player li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index1' %}" class="brand-logo">SMASHZONE</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'display' %}">View Input Dataset</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'index1' %}">Let's predict again</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'index' %}">Go back to home page</a></li>
      </ul>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">GAME STRATEGY GENERATOR</h1>
        <div class="row center">
            <h5 class="header col s12 light">"Craft winning badminton strategies with our Game Strategy Generator, tailored to enhance your gameplay and outsmart your opponents<br></h5>
        </div>

        <h3>Generated Strategies:</h3>

        {% for player_info in predictions_dict %}
        <div class="player">
            <h4>For Player {{ player_info.player }}:</h4>
            <ul>
                <li><b>Positioning</b>: {{ player_info.Positioning }}</li>
                <li><b>Serve Style</b>: {{ player_info.ServeStyle }}</li>
                <li><b>Tactical Approach</b>: {{ player_info.TacticalApproach }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
