{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Badminton Academy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.icon' %}"  rel="icon" >

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">


    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet ">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  
    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div class="col-lg-3 bg-dark d-none d-lg-block">
                <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <h1 class="m-0 display-4 text-primary text-uppercase">SMASHZONE</h1>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row gx-0 bg-secondary d-none d-lg-flex">
                    <div class="col-lg-7 px-5 text-start">
                        <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                            <i class="fa fa-envelope text-primary me-2"></i>
                            <h6 class="mb-0">smashzone@gmail.com</h6>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2">
                            <i class="fa fa-phone-alt text-primary me-2"></i>
                            <h6 class="mb-0">+91124567778</h6>
                        </div>
                    </div>
                    <div class="col-lg-5 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-light btn-square rounded-circle me-2" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-light btn-square rounded-circle" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">
                    {% comment %} <a href="{% url 'index' %}" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 display-4 text-primary text-uppercase">Badminton Academy</h1>
                    </a> {% endcomment %}
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                            <a href="{% url 'Event_On_Trend' %}" class="nav-item nav-link">Events</a>
                         <!-- <a href="class.html" class="nav-item nav-link">Classes</a>
                            <a href="team.html" class="nav-item nav-link">Trainers</a>-->  
                        <!--    <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                    <a href="detail.html" class="dropdown-item">Blog Detail</a>
                                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                </div>
                            </div>-->
                            <a href="contact.html" class="nav-item nav-link active">Contact</a>
                        </div>
                        <a href="{% url 'membership' %}" class="btn btn-primary py-md-3 px-md-5 d-none d-lg-block">Join Us</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Hero Start -->
    <div class="container-fluid bg-dark p-2 bg-hero mb-2">
        <div class="row py-2">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">BECOME A MEMBER</h1>
                {% comment %} <a href="{% url 'index' %}" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">Contact</a> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Hero End -->

  
   {% comment %} <title>pricing plans with background curve - Bootdey.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
  <style type="text/css">
        body{margin-top:20px;
  background:#DCDCDC;
  }
  .pricing-content{position:relative;}
  .pricing_design{
      position: relative;
      margin: 0px 15px;
  }
  .pricing_design .single-pricing{
      background:#554c86;
      padding: 60px 40px;
      border-radius:30px;
      box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
      position: relative;
      z-index: 1;
  }
  .pricing_design .single-pricing:before{
      content: "";
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 18px 18px 190px 18px;
      border: 1px solid #eee;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
  }
  .price-head{}
  .price-head h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
  }
  .price-head h1 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .price-head span{}
  
  .single-pricing ul{list-style:none;margin-top: 30px;}
  .single-pricing ul li {
    line-height: 36px;
  }
  .single-pricing ul li i {
    background: #270943;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    margin-right: 6px;
  }
  .pricing-price{}
  
  .price_btn {
    background: #554c86;
    padding: 10px 30px;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .price_btn:hover{background:#0aa1d6;}
  a{
  text-decoration:none;    
  }
  
  .section-title {
      margin-bottom: 60px;
  }
  .text-center {
      text-align: center!important;
  }
  
  .section-title h2 {
      font-size: 45px;
      font-weight: 600;
      margin-top: 0;
      position: relative;
      text-transform: capitalize;
  }
  
      </style>
      <section id="pricing" class="pricing-content section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>Choose Your Membership Type</h2>
                <p>Explore our flexible membership plans tailored to suit your needs.</p>
            </div>
            <div class="row text-center">
                {% for plan in subscription_plans %}
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="pricing_design">
                        <div class="single-pricing">
                            <div class="price-head">
                                <h2>{{ plan.title }}</h2>
                                <h1 class="price">Rs.{{ plan.price }}</h1>
                                <span>/{{ plan.duration }}</span>
                            </div>
                            <ul class="custom-bullet-list">
                                {% for feature in plan.features %}
                                <li><i class="fa fa-check"></i> {{ feature }}</li>
                                {% endfor %}
                            </ul>
                            <div class="pricing-price"></div>
                            
                            <a href="{% url 'Payment' plan.id %}" class="price_btn">Book Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
     
      
    
     
  {% comment %} <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
  <div class="pricing_design">
  <div class="single-pricing">
  <div class="price-head">
   <h2>STARTER</h2>
   <h1>RS.1000</h1>
   <span>/Monthly</span>
  </div>
  <ul>
  <li><b>free</b> Tutorials</li>
  <li><b>Unlimited</b>  Court Access</li>
  <li><b>Group</b> Training Sessions</li>
  <li><b>Social</b> Events</li>
  <li><b>Locker </b> Facilities</li>
  <li><b>Unlimited</b> Support</li>
  </ul>
  <div class="pricing-price">
  </div>
  <a href="{% url 'payment' %}" class="price_btn">Book Now</a>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
  <div class="pricing_design">
  <div class="single-pricing">
  <div class="price-head">
  <h2>STANDARD</h2>
  <h1 class="price">Rs.1500</h1>
  <span>/Monthly</span>
  </div>
  <ul>
    <li><b>free</b> Tutorials</li>
    <li><b>Unlimited</b>  Court Access</li>
    <li><b>10%</b> Discounts</li>
    <li><b>24/7</b> Supports</li>
    <li><b>Locker </b> Facilities</li>
    <li><b>Social</b> Events</li>
  </ul>
  <div class="pricing-price">
  </div>
  <a href="{% url 'payment' %}" class="price_btn">Book Now</a>
  </div>
  </div>
  </div> {% endcomment %}
  {% comment %} <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
  <div class="pricing_design">
  <div class="single-pricing">
  <div class="price-head">
  <h2>PREMIUM</h2>
  <h1 class="price">Rs.2000</h1>
  <span>/Monthly</span>
  </div>
  <ul>
    <li><b>free</b> Tutorials</li>
    <li><b>Free</b> Event Participation</li>
    <li><b>30%</b> Discounts</li>
    <li><b>24/7</b> Supports</li>
    <li><b>Locker </b> Facilities</li>
    <li><b>Personal</b> Accident Insurance</li>
  </ul>
  <div class="pricing-price">
  </div>
  <a href="{% url 'payment' %}" class="price_btn">Book Now</a>
  </div>
  </div>
  </div>
  </div>
  </div> {% endcomment %}
  </section>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    
  </script> 

  </body>
  </html>
