{% load static %}


<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <title>Badminton Academy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/style.css" %}">
    <!--[if lt IE 9]>
		<script src="admin/js/html5shiv.min.js"></script>
		<script src="admin/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="" class="logo">
					<img src="{% static "images/logo.jpg" %}" width="35" height="35" alt=""> <span>SMASHZONE</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							{% comment %} <img class="rounded-circle" src="admin/img/user.jpg" width="24" alt="Admin"> {% endcomment %}
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						
						<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
					</div>
                </li>
            </ul>
          
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{% url "indextrainer" %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url "training_user" %}"><i class="fa fa-user"></i> <span>New Users :Training</span></a>
                        </li>
						{% comment %} <li>
                            <a href="{% url "member" %}"><i class="fa fa-user"></i> <span>Membership</span></a>
                        </li>
                        <li>
                            <a href="{% url "member_history" %}"><i class="fa fa-user"></i> <span>Members in Academy</span></a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url "Eventlist" %}"><i class="fa fa-user fa-lg"></i> <span>Event Listing</span></a>
                        </li>
                        <li>
                            <a href="{% url "event_reg_player" %}"><i class="fa fa-calendar"></i> <span>Event Registered players</span></a>
                        </li>
                        <li>
                            <a href="{% url "winner_Gallery" %}"><i class="fa fa-calendar-check-o"></i> <span>Winners</span></a>
                        </li>
                        <li>
                            <a href="{% url "guestbook_player" %}"><i class="fa fa-user fa-lg"></i> <span>Guest user Booking list</span></a>
                        </li>
						{% comment %} <li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="">Employees List</a></li>
								<li><a href="">Leaves</a></li>
								<li><a href="">Holidays</a></li>
								<li><a href="">Attendance</a></li>
							</ul>
						</li>
					 {% endcomment %}
						
                        
							

                        {% comment %} <li class="submenu">
                            <a href="javascript:void(0);"><i class="fa fa-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li class="submenu">
                                    <a href="javascript:void(0);"><span>Level 1</span> <span class="menu-arrow"></span></a>
                                    <ul style="display: none;">
                                        <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                        <li class="submenu">
                                            <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                                            <ul style="display: none;">
                                                <li><a href="javascript:void(0);">Level 3</a></li>
                                                <li><a href="javascript:void(0);">Level 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><span>Level 1</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg1"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>{{ user_count }}Smashzone</h3>
                                <span class="widget-title1">Users <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                

                    
                    
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-calendar"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>Smashzone</h3>
                                <span class="widget-title2">Badminton Events <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>Smashzone</h3>
                                <span class="widget-title3">Academy Members <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>Smashzone</h3>
                                <span class="widget-title4">Guest Users <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row">
					{% comment %} <div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Patient Total</h4>
									<span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15% Higher than Last Month</span>
								</div>	
								<canvas id="linegraph"></canvas>
							</div>
						</div>
					</div> {% endcomment %}
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						{% comment %} <div class="card">
							<div class="card-body">
								<div class="chart-title">
									<h4>Patients In</h4>
									<div class="float-right">
										<ul class="chat-user-total">
											<li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
											<li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
										</ul>
									</div>
								</div>	
								<canvas id="bargraph"></canvas>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							{% comment %} <div class="card-header">
								<h4 class="card-title d-inline-block">Upcoming Appointments</h4> <a href="" class="btn btn-primary float-right">View all</a>
				</div> {% endcomment %}
							{% comment %} <div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="d-none">
											<tr>
												<th>Patient Name</th>
												<th>Doctor Name</th>
												<th>Timing</th>
												<th class="text-right">Status</th>
											</tr>
										</thead>
										
											
									</table>
								</div>
							</div> {% endcomment %}
						</div>
					</div>
                 
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
							 <h4 class="card-title d-inline-block">New Users </h4> 
                             	{% comment %}   <a href="" class="btn btn-primary float-right">View all</a> {% endcomment %}
							</div>
							<div class="card-block">
                                <div class="table-responsive">
                                    <table class="table mb-0 new-patient-table">
                                        <tbody>
                                            {% for user in new_users %}
                                            <tr>
                                                <td>
                                                    <img width="28" height="28" class="rounded-circle" src="{% static "images/logo.jpg" %}" alt="">
                                                    <h2>{{ user.name }}</h2>
                                                </td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.phone }}</td>
                                                {% comment %} <td><button class="btn btn-primary btn-primary-one float-right">forehand</button></td> {% endcomment %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
								
							</div>
						</div>
					</div>
					
				</div>
            </div> 
            {% comment %} <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                            
                    
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static "admin/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "admin/js/popper.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/jquery.slimscroll.js" %}"></script>
    <script src="{% static "admin/js/Chart.bundle.js" %}"></script>
    <script src="{% static "admin/js/chart.js" %}"></script>
    <script src="{% static "admin/js/app.js" %}"></script>

</body>



</html>