<!-- view_trainer_trainingvideo.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Badminton Academy - Training Videos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="indexadmin" class="logo">
                    <span>SMASHZONE</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class=""></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class=""></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class=""></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="{% static 'admin/img/user.jpg' %}" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <p><i class="dropdown-item"></i><a href="{% url 'logout' %}">Logout</a></p>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li  class="active">
                            <a href="{% url 'training_user' %}"><i class="fa fa-user"></i> <span>New Users : Training</span></a>
                        </li>
                        <li>
                            <a href="{% url 'Eventlist' %}"><i class="fa fa-user fa-lg"></i> <span>Event Listing</span></a>
                        </li>
                        <li>
                            <a href="{% url 'event_reg_player' %}"><i class="fa fa-calendar"></i> <span>Event Registered players</span></a>
                        </li>
                        <li>
                            <a href="{% url 'view_trainer_trainingvideo' %}"><i class="fa fa-calendar-check-o"></i> <span>Training Videos</span></a>
                        </li>
                        <li>
                            <a href="{% url 'guestbook_player' %}"><i class="fa fa-user fa-lg"></i> <span>Guest user Booking list</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="{% url 'add_trainingvideo' %}" class="btn btn-success btn-rounded float-right"><i class="fa fa-plus"></i> Add Training Video</a>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Training Videos</h4>
                    </div>
                </div>
                <div class="row">
                    {% for video in videos %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ video.title }}</h5>
                                <p class="card-text">Trainer: {{ video.trainer }}</p>
                                {% if video.video_file %}
                                <a href="{{ video.video_file.url }}" class="btn btn-primary">View Video</a>
                                {% else %}
                                <p>No video available</p>
                                {% endif %}
                                <!-- Dropdown menu -->
                                <div class="dropdown profile-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{% url 'edit_trainingvideo' video.id %}" class="dropdown-item update-winner"> 
                                            <i class="fa fa-pencil m-r-5"></i> Edit
                                        </a> 
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_video_{{ video.id }}">
                                            <i class="fa fa-trash-o m-r-5"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for delete confirmation -->
                    <div class="modal fade" id="delete_video_{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteVideoModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteVideoModal">Confirm Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this training video?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form method="post" action="{% url 'delete_trainingvideo' video.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    {% if not videos %}
                        <p>No training videos available.</p>
                    {% endif %}
                </div>
                
                {% comment %} <div class="row">
                    {% for video in videos %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ video.title }}</h5>
                                <p class="card-text">Trainer: {{ video.trainer }}</p>
                                {% if video.video_file %}
                                <a href="{{ video.video_file.url }}" class="btn btn-primary">View Video</a>
                                {% else %}
                                <p>No video available</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
               
                            <!-- Dropdown menu -->
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                 <a href="{% url 'edit_trainingvideo' video.id %}" class="dropdown-item update-winner"> 
                                        <i class="fa fa-pencil m-r-5"></i> Edit
                                     </a> 
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_video_{{ video.id }}">
                                        <i class="fa fa-trash-o m-r-5"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for delete confirmation -->
                    <div class="modal fade" id="delete_video_{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteVideoModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteVideoModal">Confirm Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this training video?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form method="post" action="{% url 'delete_trainingvideo' video.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    {% if not videos %}
                        <p>No training videos available.</p>
                    {% endif %}
                </div>
                 {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <style>
        /* Style for profile-widget container */
        .profile-widget {
            background: #fff;
            border: 1px solid #e4e4e4;
            padding: 15px;
            margin-bottom: 20px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Style for doctor-name */
        .doctor-name {
            font-size: 18px;
            margin-top: 10px;
        }

        /* Style for doc-prof */
        .doc-prof {
            font-size: 16px;
            margin-top: 5px;
        }

        /* Style for doctor-img */
        .doctor-img {
            position: relative;
            width: 100%;
            height: 250px; /* Adjust the height as needed */
            overflow: hidden;
        }

        /* Style for doctor-img img */
        .doctor-img img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease-in-out;
        }

        /* Hover effect for doctor-img img */
        .doctor-img img:hover {
            transform: scale(1.1);
        }
    </style>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'admin/js/chart.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>
</body>
</html>
