
{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <title>Badminton</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-datetimepicker.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/style.css" %}">
    <!--[if lt IE 9]>
		<script src="admin/js/html5shiv.min.js"></script>
		<script src="admin/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="" class="logo">
					<img src="admin/img/logo.png" width="35" height="35" alt=""> <span>SMASHZONE</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
               
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static "admin/img/user.jpg" %}" width="40" alt="Admin">
							<span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						
						<a class="dropdown-item" href="{% url "login" %}">Logout</a>
					</div>
                </li>
            </ul>
            
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{% url "indexadmin" %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url "new_user" %}"><i class="fa fa-user"></i> <span>New Users</span></a>
                        </li>
						<li>
                            <a href="{% url "member" %}"><i class="fa fa-user"></i> <span>Membership</span></a>
                        </li>
                        <li>
                            <a href="{% url "Eventlist" %}"><i class="fa fa-user fa-lg"></i> <span>Event Listing</span></a>
                        </li>
                        <li>
                            <a href="{% url "event_reg_player" %}"><i class="fa fa-calendar"></i> <span>Event Registered players</span></a>
                        </li>
                        <li>
                            <a href="{% url "winner_Gallery" %}"><i class="fa fa-calendar-check-o"></i> <span>Winners</span></a>
                        </li>
                        <li>
                            <a href="{% url "guestbook_player" %}"><i class="fa fa-user fa-lg"></i> <span>Guest user Booking list</span></a>
                        </li>
                            {% comment %} <a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                        </li>
                        <li class="menu-title">Extras</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-columns"></i> <span>Pages</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="login.html"> Login </a></li>
                                <li><a href="register.html"> Register </a></li>
                                <li><a href="forgot-password.html"> Forgot Password </a></li>
                                <li><a href="change-password2.html"> Change Password </a></li>
                                <li><a href="lock-screen.html"> Lock Screen </a></li>
                                <li><a href="profile.html"> Profile </a></li>
                                <li><a href="gallery.html"> Gallery </a></li>
                                <li><a href="error-404.html">404 Error </a></li>
                                <li><a href="error-500.html">500 Error </a></li>
                                <li><a href="blank-page.html"> Blank Page </a></li>
                            </ul>
                        </li> {% endcomment %}
                      
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Membership Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="post" onsubmit="return checkall()">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="title" name="title" required>
                                <span id="titleError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="price">Price <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="price" name="price" required>
                                <span id="priceError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="duration">Duration <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="duration" name="duration" required>
                                <span id="durationError" class="text-danger"></span>
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="features">Features <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="features" name="features" rows="4" required></textarea>
                                <small class="form-text text-muted">Separate features with commas (e.g., Feature1, Feature2, Feature3).</small>
                                <span id="featuresError" class="text-danger"></span>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label for="features">Features <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="features" name="features" rows="4" required></textarea>
                                <small class="form-text text-muted">Enter features on separate lines.</small>
                                <span id="featuresError" class="text-danger"></span>
                            </div>
                            
                            {% comment %} <div class="form-group">
                                <label for="features">Features <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="features" name="features" required>
                                <small class="form-text text-muted">Separate features with commas (e.g., Feature1, Feature2, Feature3).</small>
                                <span id="featuresError" class="text-danger"></span>
                            </div> {% endcomment %}
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" type="submit">Save</button>
                            </div>
                        </form>
                        
                        {% comment %} <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="price">Price <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="price" name="price" required>
                            </div>
                            <div class="form-group">
                                <label for="duration">Duration <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="duration" name="duration" required>
                            </div>
                           
                            
                            <div class="form-group">
                                <label for="features">Features <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="features" name="features" required>
                                <small class="form-text text-muted">Separate features with commas (e.g., Feature1, Feature2, Feature3).</small>
                            </div>
                            
                           
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" type="submit">Save</button>
                            </div>
                        </form> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script>
        // Add event listeners to form fields for real-time validation
        document.getElementById("title").addEventListener("input", validateTitle);
        document.getElementById("price").addEventListener("input", validatePrice);
        document.getElementById("duration").addEventListener("input", validateDuration);
        document.getElementById("features").addEventListener("input", validateFeatures);
      
        function validateTitle() {
          var title = document.getElementById("title").value;
          var letters = /^[A-Za-z ]*$/;
          if (!letters.test(title) || title.length < 3) {
            document.getElementById("titleError").textContent =
              "Title should only contain alphabets and be at least 3 characters long";
            return false;
          } else {
            document.getElementById("titleError").textContent = "";
            return true;
          }
        }
      
        function validatePrice() {
          var price = document.getElementById("price").value;
          if (isNaN(price) || price <= 0) {
            document.getElementById("priceError").textContent =
              "Price should be a valid number greater than 0";
            return false;
          } else {
            document.getElementById("priceError").textContent = "";
            return true;
          }
        }
      
        function validateDuration() {
          var duration = document.getElementById("duration").value;
          var letters = /^[A-Za-z]+$/;
          if (!letters.test(duration)) {
            document.getElementById("durationError").textContent =
              "Duration should only contain letters";
            return false;
          } else {
            document.getElementById("durationError").textContent = "";
            return true;
          }
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            var featuresTextarea = document.getElementById('features');
    
            featuresTextarea.addEventListener('input', function () {
                // Do nothing, just preserve newline characters
            });
    
            // Handle form submission
            var form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                var featuresText = featuresTextarea.value;
                // You can use the featuresText as it is or process it further as needed
                console.log('Features entered by the user:');
                console.log(featuresText);
                event.preventDefault(); // Prevent the actual form submission for this example
            });
        });
     
    
    
    
          
          
    
        </script>
      
    <script src="{% static "admin/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "admin/js/popper.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/jquery.slimscroll.js" %}"></script>
    <script src="{% static "admin/js/select2.min.js" %}"></script>
	<script src="{% static "admin/js/moment.min.js" %}"></script>
	<script src="{% static "admin/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "admin/js/app.js" %}"></script>
</body>

</html>
