
{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- patients23:17-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Badminton</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    <!--[if lt IE 9]>
    <script src="admin/js/html5shiv.min.js"></script>
    <script src="admin/js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
      <div class="header-left">
        <a href="{% url "indexadmin" %}" class="logo">
          <span>SMASHZONE</span>
        </a>
      </div>
      <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class=""></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                    
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class=""></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'admin/img/user.jpg' %}" width="40" alt="Admin">
              <span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
          <div class="dropdown-menu">
            {% if user.is_authenticated %}
                        <p><i class="dropdown-item"></i><a href="{% url 'logout' %}">Logout</a></p>
                    {% else %}
                        <p><i class="fa fa-sign-in-alt mr-2"></i><a href="{% url 'login' %}">Login</a></p>
                    {% endif %}
          </div>
                </li>
            </ul>
           
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{% url "indexadmin" %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url "new_user" %}"><i class="fa fa-user"></i> <span>New Users</span></a>
                        </li>
						<li>
                            <a href="{% url "member" %}"><i class="fa fa-user"></i> <span>Membership</span></a>
                        </li>
                        <li>
                            <a href="{% url "member_history" %}"><i class="fa fa-user"></i> <span>Members in Academy</span></a>
                        </li>
                        <li>
                            <a href="{% url "Eventlist" %}"><i class="fa fa-user fa-lg"></i> <span>Event Listing</span></a>
                        </li>
                        <li>
                            <a href="{% url "event_reg_player" %}"><i class="fa fa-calendar"></i> <span>Event Registered players</span></a>
                        </li>
                        <li>
                            <a href="{% url "winner_Gallery" %}"><i class="fa fa-calendar-check-o"></i> <span>Winners</span></a>
                        </li>
                        <li>
                            <a href="{% url "guestbook_player" %}"><i class="fa fa-user fa-lg"></i> <span>Guest user Booking list</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% comment %} <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Event Registered Players</h4>
                    </div>
                </div>
                <!-- event_reg_player.html -->
  <!-- Extend your base template if you have one -->

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped custom-table datatable mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration Type</th>
                        <th>Date of Birth</th>
                        <th>Contact Number</th>
                        <th>Declaration Accepted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registration in registrations %}
                    <tr>
                        <td>{{ registration.name1 }}</td>
                        <td>{{ registration.registration_type }}</td>
                        <td>{{ registration.dob1 }}</td>
                        <td>{{ registration.contact_number }}</td>
                        <td>{{ registration.declaration_accepted }}</td>
                    </tr>
                    {% if registration.registration_type == 'team' %}
                    <tr>
                        <td>{{ registration.name2 }}</td>
                        <td>{{ registration.registration_type }}</td>
                        <td>{{ registration.dob2 }}</td>
                        <td>{{ registration.contact_number }}</td>
                        <td>{{ registration.declaration_accepted }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}     
<div class="dropdown profile-action">
    <a href="" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a href="" class="dropdown-item update-plan" data-plan-id="{{ plan.pk }}">
            <i class="fa fa-pencil m-r-5"></i> Edit
        </a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_plan_{{ plan.pk }}">
            <i class="fa fa-trash-o m-r-5"></i> Delete
        </a>
    </div>
</div>
</div>
</div> {% endcomment %}
<!-- Modal for delete confirmation -->

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Event Registered Players</h4>
                    </div>
                </div>
                <!-- Your table content -->
                {% block content %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Event ID</th>
                                        <th>Name</th>
                                        <th>Registration Type</th>
                                        <th>Date of Birth</th>
                                        <th>Contact Number</th>
                                        <th>Declaration Accepted</th>
                                        <th>Action</th> <!-- Added an Action column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registration in registrations %}
                                    <tr>
                                        <td>{{ registration.event.id }}</td>
                                        <td>{{ registration.name1 }}</td>
                                        <td>{{ registration.registration_type }}</td>
                                        <td>{{ registration.dob1 }}</td>
                                        <td>{{ registration.contact_number }}</td>
                                        <td>{{ registration.declaration_accepted }}</td>
                                        <td>
                                            <!-- Button to trigger delete confirmation modal -->
                                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_modal_{{ registration.pk }}">Delete</button>
                                        </td>
                                    </tr>
                                    {% if registration.registration_type == 'team' %}
                                    <tr>
                                        <td>{{ registration.event.id }}</td>
                                        <td>{{ registration.name2 }}</td>
                                        <td>{{ registration.registration_type }}</td>
                                        <td>{{ registration.dob2 }}</td>
                                        <td>{{ registration.contact_number }}</td>
                                        <td>{{ registration.declaration_accepted }}</td>
                                        <td>
                                            <!-- Button to trigger delete confirmation modal -->
                                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_modal_{{ registration.pk }}">Delete</button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <!-- Delete confirmation modal -->
                                    <div class="modal fade" id="delete_modal_{{ registration.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this record?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <form method="post" action="{% url 'delete_registration' registration.pk %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>


            
    {% comment %} <div id="delete_patient" class="modal fade delete-modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img src="{% static 'admin/img/sent.png' %}" alt="" width="50" height="46">
            <h3>Are you sure want to delete this Registerd canadiate?</h3>
            <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </div> {% endcomment %}
      
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>


<script src="{% static 'admin/js/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>
</body>


</html>