{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Badminton</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
    <!--[if lt IE 9]>
    <script src="{% static 'admin/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'admin/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="{% url "indexadmin" %}" class="logo">
                    <span>SMASHZONE</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <!-- Your navigation menu here -->
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{% url "indexadmin" %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="{% url "new_user" %}"><i class="fa fa-user"></i> <span>New Users</span></a>
                        </li>
						<li>
                            <a href="{% url "member" %}"><i class="fa fa-user"></i> <span>Membership</span></a>
                        </li>
                        <li>
                            <a href="{% url "member_history" %}"><i class="fa fa-user"></i> <span>Members in Academy</span></a>
                        </li>
                        <li>
                            <a href="{% url "Eventlist" %}"><i class="fa fa-user fa-lg"></i> <span>Event Listing</span></a>
                        </li>
                        <li>
                            <a href="{% url "event_reg_player" %}"><i class="fa fa-calendar"></i> <span>Event Registered players</span></a>
                        </li>
                        <li>
                            <a href="{% url "winner_Gallery" %}"><i class="fa fa-calendar-check-o"></i> <span>Winners</span></a>
                        </li>
                        <li>
                            <a href="{% url "guestbook_player" %}"><i class="fa fa-user fa-lg"></i> <span>Guest user Booking</span></a>
                        </li>
                        <li>
                            <a href="{% url 'feedbacks' %}"><i class="fa fa-user"></i> <span>Feedback of Members</span></a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Users list</h4>
                    </div>
                </div>
                <!-- Your table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <a href="{% url "new_user" %}" class="btn btn-primary">All Users</a>
                            <a href="{% url "new_user_customer" %}" class="btn btn-success">Customer</a>
                            <a href="{% url "new_user_refere" %}" class="btn btn-warning">Referee</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        {% if user_type != 'referee' %}
                                        <th>Phone</th>
                                    {% endif %}
                                        {% comment %} <th>Phone</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in new_users %}
                                    <tr>
                                        <td>
                                            <img width="28" height="28" class="rounded-circle" src="{% static 'admin/img/user.jpg' %}" alt="">
                                            <h2>{{ user.name }}</h2>
                                        </td>
                                        <td>{{ user.email }}</td>
                                        {% if user_type != 'referee' %}
                                        <td>{{ user.phone }}</td>
                                    {% endif %}
                                        {% comment %} <td>{{ user.phone }}</td> {% endcomment %}
                                        <!-- You can add more columns here as needed -->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'admin/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/js/select2.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>
</body>

</html>
