{% comment %} {% load static %}

<div class="booking-time-modal" id="booking-time-modal">
    <!-- Modal content-->
    <div class="modal-content">
        <h2>Time Select</h2>
        <p>Pick and reserve a time slot with me for a variety of services!</p>
        <div class="booking-time">
            <ul class="booking-time-list">
                {% for time_slot in time_slots %} 
                <li>
                    <div class="time-block {% if time_slot.is_full %}inactive{% endif %}">
                        {{ time_slot.start_time|time:"g:iA" }} - {{ time_slot.end_time|time:"g:iA" }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Inside your booking-time.html template -->


        {% comment %} <button type="button" class="close-btn" onclick="closeBookingTimeModal()">&times;</button> 
        <button type="button" class="close-btn" onclick="openBookingFormModal()">&times;</button>
    </div>
</div> {% endcomment %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your head content here -->
</head>
<body>
    <div class="booking-modal" id="booking-modal">
        <!-- Modal content for booking form -->
        <!-- ... Your booking form content ... -->
        <li class="${isToday}" onclick="openBookingTimeModal(${i})">${i}</li>

    </div>

    <div class="booking-time-modal" id="booking-time-modal">
        <!-- Modal content for selecting booking time -->
        <div class="modal-content">
            <h2>Time Select</h2>
            <p>Pick and reserve a time slot with me for a variety of services!</p>
            <div class="booking-time">
                <ul class="booking-time-list">
                    {% for time_slot in time_slots %}
                        <li>
                            <div class="time-block {% if time_slot.is_full %}inactive{% endif %}">
                                {{ time_slot.start_time|time:"g:iA" }} - {{ time_slot.end_time|time:"g:iA" }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <button type="button" class="close-btn" onclick="openBookingFormModal()">&times;</button>
        </div>
    </div>
    {% endblock %}
    <!-- Rest of your HTML content -->
</body>
</html>
