{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your head content here -->
</head>
<body>
    <div class="booking-modal" id="booking-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <h2>Booking Form</h2>
            <p>Book now and secure your appointment!</p>
            <form method="post" action="{% url 'Guestbooking' %}"  id="booking-form">
                {% csrf_token %}
                <div class="booking-form-container">
                    <div class="client-name">
                        <label for="client-name"><h6>Name:</h6></label>
                        <input type="text" id="client-name" name="client-name" required>
                    </div>
                    <div class="client-email">
                        <label for="client-email"><h6>Email:</h6></label>
                        <input type="email" id="client-email" name="client-email" required>
                    </div>
                    <div class="client-phone">
                        <label for="client-phone"><h6>Phone:</h6></label>
                        <input type="tel" id="client-phone" name="client-phone">
                    </div>
                    
                    <input type="hidden" name="booking_date" id="booking-date">
                    <input type="hidden" name="booking_time" id="booking-time">
                    <button type="submit" id="booking-submit-button" style="background-color: #0074D9; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Submit</button>
                </div>
            </form>
            <button type="button" class="close-btn" onclick="closeBookingModal()">&times;</button>
           

        </div>
    </div>
</body>
</html>
